<header>
  <nav>
    <a href="/">Home</a>

    <% if (locals.currentUser) { %>
    <a href="/">Add</a>
    <a href="/membership"><%= currentUser.username%></a>

    <a href="/logout">Log Out</a>

    <% } else { %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <% } %>
  </nav>
</header>
