<header>
  <nav class="padded">
    <a href="/"><img src="/imgs/owl.svg" alt="owl logo" /></a>
    <div class="navRight">
      <% if (locals.currentUser) { %>
      <a href="/membership" class="blueButton"><%= currentUser.username%></a>

      <a href="/logout" class="blueButton">Log Out</a>

      <% } else { %>
      <a href="/signup" class="blueButton">Sign Up</a>
      <a href="/login" class="blueButton">Log In</a>
      <% } %>
      <a href="/about"><img src="/imgs/about.svg" alt="about logo" /></a>
    </div>
  </nav>
</header>
