<header>
  <nav>
    <a href="/">Add</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
    <a href="/membership">Status</a>
    <% if (locals.currentUser) { %>
    <p><%= currentUser.username%></p>
    <% }%>
  </nav>
</header>
