<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>

    <div class="aboutBody padded">
      <h1>About</h1>

      <p>Project by Jake Browning, 2024.</p>
      <p>Built with Node.js, Express, and PostgreSQL.</p>
      <a href="https://github.com/JakeBrowning90/members-only-2"
        >Github repo and README</a
      >
      <a href="https://jakebrowning90.github.io/personal-portfolio/"
        >My Portfolio</a
      >
    </div>
  </body>
</html>
