<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header')%>

    <h1>Members Only Homepage</h1>


    <!-- TODO: Form only visible to user that IS MEMBER -->
    <%- include('partials/errors')%>

    <form action="/newpost" method="post">
      <h2>New Post</h2>
      <label for="postTitle">Title:</label>
      <input type="text" name="postTitle" id="postTitle"/>
      <label for="postBody">Body:</label>
      <textarea name="postBody" id="postBody"></textarea> 
      <button>Submit</button>
    </form>

    <ul>

    </ul>

  </body>
</html>
