<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>

    <form action="/login" method="post" class="padded">
      <h1>Log In</h1>
      <%- include('partials/errors')%>
      <div class="formField">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="formField">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
      </div>

      <button class="blueButton">Submit</button>
    </form>
  </body>
</html>
